@import "../styles/mixins";
@import "../styles/variables";
.wallet {
  width: 260px;

  i {
    margin-right: 5px;
  }
}

.header {
  @include flex(space-between);
  margin-bottom: 30px;
}

.address {
  @include flex;

  color: $darkblue;
  font-size: 16px;
}

.disconnect {
  font-size: 10px;
}

.balances {
  width: 100%;
  margin: 0 0 20px 0;
  font-size: 14px;

  .item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 0;
    margin: 0 0 5px;
    &:not(:first-child) {
      border-top: $border;
    }
  }
}

.actions {
  @include flex(space-between);
  font-size: 12px;

  .button {
    @include flex;
    @include link($darkblue, $darkblue-hover);
    text-decoration: none;
  }

  i {
    font-size: 14px;
  }
}

.send {
  margin-top: 20px;
}
